channels:
  - conda-forge
dependencies:
  - python={{ python_version }}
  - pip={{ pip_version }}
  - nodejs={{ nodejs_version }}
  - pip:
      - robotframework=={{ rf_version }}
      - robotframework-browser=={{ rf_lib_browser_version }}
      - rf-mcp[web]=={{ rf_lib_rfmcp_version }}

# Install Browser Library binaries after environment creation.
rccPostInstall:
  - rfbrowser init
