{
  "name": "os-rhel",
  "image": "{{ rhel_image }}",
  "customizations": {
    "vscode": {
      "extensions": [
        "ms-python.python",
        "d-biehl.robotcode",
        "redhat.ansible"
      ]
    }
  },
  "onCreateCommand": "bash .devcontainer/oncreate.sh",
  "postCreateCommand": "bash .devcontainer/postcreate.sh"
}
