channels:
  - conda-forge
dependencies:
  - python={{ python_version }}
  - pip={{ pip_version }}
  - pip:
      - robotframework=={{ rf_version }}
      - robotframework-crypto=={{ rf_lib_crypto_version }}

