| Library | Version |
|---|---|
| Python | `{{ python_version }}` |
| Node.js | `{{ nodejs_version }}` |
| Robot Framework | `{{ rf_version }}` |
| robotframework-browser | `{{ rf_lib_browser_version }}` |
| robotframework-crypto | `{{ rf_lib_crypto_version }}` |
